section{
   
    display: flex;
    justify-content: center;
   
    .signup{
      
        min-width: 250px ;
       
    }
    .valid-feedback,
    .invalid-feedback {
      display: block;
    }
    
    
}
@media (max-width: 769px) {
    section{
        margin: 0 !important;
 form{
   margin: 5px !important;
   width: 100% !important;
 }
}}
@media (max-width: 769px) {
    section{
        margin: 0 !important;
 form{
   margin: 5px !important;
   width: 100% !important;
   
   }
 }
}