@if (productToDisplay) {
  <div class="contain">
    <a [routerLink]="['/single-product', productToDisplay.id]">
      <div>
        <img
          class="proimg d-block w-100"
          [src]="productToDisplay.images[0]"
          alt="First slide"
        />
      </div>
      @if (productToDisplay && productToDisplay.discountPercentage > 15) {
        <div class="suggestion">სულსწრაფი ფასი</div>
      }
    </a>
    <div class="info">
      @if (productToDisplay && productToDisplay.discountPercentage > 15) {
        <div class="price">
          <h4 class="newprice">
            {{
              calculateDiscountedPrice(
                productToDisplay.price,
                productToDisplay.discountPercentage
              ) | convertprice
            }}
          </h4>
          <span class="oldprice">{{
            productToDisplay.price | convertprice
          }}</span>
        </div>
      } @else {
        <div class="price">
          <h4 class="newprice">
            {{ productToDisplay.price | convertprice }}
          </h4>
        </div>
      }
      <a
        title="techdescription"
        class="description"
        [routerLink]="['/single-product', productToDisplay.id]"
      >
        {{ productToDisplay.description }}
      </a>
      <button appAddtocart class="btn btn-warning" (click)="addToCart()">
        Add to Cart
      </button>
    </div>
  </div>
}
