.contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .proimg{
      
      
     object-fit:contain;   
    height:500px;
     }
     
     .carousel-control-prev-icon:hover,
     .carousel-control-next-icon:hover {
       background-color: rgba(0, 0, 0, 0.7); 
       border-radius: 50%;
    
     }
     .price{
        display: flex;
     
        align-items: center;
        gap: 12px;
        .newprice{
            color:  #ec5e2a
        }
        .oldprice{
            text-decoration: line-through;
            text-decoration-color: #ec5e2a;
           
        }}
     .otherinfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
     }
    button.btn{
            background-color: #f28f6a;
            border: #f28f6a;
    }
    }
     @media (max-width: 769px) {
        .contain{
            display: grid;
            grid-template-columns: 1fr ;
            .proimg{
             object-fit:contain;   
             height:300px;
             }
        }
        
      }