.contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .proimg{
        // width: 160px;
      
     object-fit:contain;   
    height:500px;
     }
     
     .carousel-control-prev-icon:hover,
     .carousel-control-next-icon:hover {
       background-color: rgba(0, 0, 0, 0.7); /* Darker on hover */
       border-radius: 50%;
    //    border-width: 2px;
    //    background-image: url('/src/assets/images/next.svg') ;
     }
     .price{
        display: flex;
     
        align-items: center;
        gap: 12px;
        .newprice{
            color:  #ec5e2a
        }
        .oldprice{
            text-decoration: line-through;
            text-decoration-color: #ec5e2a;
           
        }}
     .otherinfo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
     }}
     @media (max-width: 769px) {
        .contain{
            display: grid;
            grid-template-columns: 1fr ;
            .proimg{
                // width: 160px;
              
             object-fit:contain;   
            height:300px;
             }
        }
        
      }