<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img
          class="main-logo"
          src="https://zoommer.ge/icons/main-logo.svg"
          alt="Zoommer"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleNavbar()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        [class.show]="isNavbarOpen"
        id="navbarNav"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="closeNavbar()"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/about"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="closeNavbar()"
            >
              About
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/cart"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="closeNavbar()"
            >
              Cart
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/user/login"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="closeNavbar()"
            >
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main class="container-xxl m-auto pt-4 mt-5">
  <router-outlet></router-outlet>
</main>
