<div style="border-bottom: 2px solid #f2f2f2">
    <h1 style="font-size: 16px">ჩვენ შესახებ</h1>
  </div>
  <div>
    <div style="width: 50%; height: auto; margin: 50px auto; text-align: center">
      <h1 class="mb-5">ჩვენ შესახებ</h1>
      <p style="color: #ff8b11; font-size: 12pt">
        ზუმერის განვითარების 14 წლიანი ისტორია
      </p>
    </div>
  
    <div
      style="
        flex-flow: row wrap;
        width: 70%;
        margin: 0px auto;
        text-align: justify;
        font-size: 12pt;
      "
    >
      <p>
        ზუმერი 14 წელია ოპერირებს ციფრული ტექნიკის ბაზარზე, ამ წლების განმალობაში
        კომპანიამ წარმატებით დაიმკვიდრა ადგილი საცალო გაყიდვებში და სტაბილურად
        ინარჩუნებს ლიდერ პოზიციას. ზუმერი მომხმარებელს მსოფლიო ბრენდების
        პროდუქციას საუკეთესო ფასად სთავაზობს საქართველოში.
      </p>
  
      <p>
        კომპანიამ ციფრული ტექნიკის ბაზარზე 2009 წლის ოქტომბერში ერთი მაღაზიით
        შემოვიდა, დღესდღეობით კი 18 ფილიალს და 200-ზე მეტ თანამშრომელს აერთიანებს
        ქვეყნის მასშტაბით.
      </p>
  
      <p>
        ზუმერი სმარტფონების, ციფრული ფოტოაპარატების, ლეპტოპებისა და აუდიო-ვიდეო
        ტექნიკის ერთ-ერთი მსხვილი საცალო ქსელია და მომხმარებელს პროდუქციას ყველაზე
        დაბალ ფასად სთავაზობს საქართველოში.
      </p>
  
      <p>
        აღსანიშნავია, ის ფაქტი რომ კომპანია 100% ქართული ინვესტიციაა და 14 წლის
        წინ, ახალგაზრდა ანტერპრენერების სტარტაპი იყო, რომელიც წლების მანძილზე
        მსხვილ საცალო ქსელად ჩამოყალიბდა.
      </p>
    </div>
  </div>
  